.first{
    width:400px;
    height:200px;
    background-image: url("img1.gif");
    background-repeat:no-repeat;
    background-size: cover;
    padding: 10px;
    
}
.second{
    width:400px;
    height:200px;
    background-image: url("img12.gif");
    background-repeat:no-repeat;
    background-size: cover;
    color:white;
    padding: 10px;
}
.main{
    display:flex; 
    gap: 50px;
}
body{
    background: linear-gradient(to right,#ed878a,#f6ded8);
}